@import "../../../../styles/variables.scss";

@import "../style.module.scss";

$thumbnail-size-mobile: 170px;

.card__body {
    width: calc(100% - #{$thumbnail-size-mobile});
    color: $seconday-color;
    padding: 16px;

    @media screen and (min-width: #{$breakpoint-tablet-min}) {
        padding: 0px;
        text-align: center;
        width: 100%;
    }

    // Read more feature
    animation: fade-in 1s ease-in-out forwards;
    position: relative;
    cursor: pointer;

    &:not(:hover) {
        border-bottom: 1px solid $terciary-color;

        @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
            border-right: 1px solid $terciary-color;
        }

        @media (min-width: $breakpoint-desktop-min) {
            border-bottom: 0;
            &:not(:last-child) {
                border-right: 1px solid $terciary-color;
            }
        }
    }
}

.card__body__title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: $black;
    @media screen and (min-width: #{$breakpoint-tablet-min}) {
        &:before,
        &:after {
            background-color: $primary-color;
            content: "";
            display: block;
            height: 1px;
            width: 100%;
        }

        display: inline-block;
        font-size: 18px;
    }
}

.card__body__price {
    font-size: 14px;
    margin: 16px 0 24px;

    @media screen and (min-width: #{$breakpoint-tablet-min}) {
        margin: 4px 0;
    }
}

.card__body__description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    -webkit-line-clamp: 1;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
