// Fonts
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoint-mobile-min: 320px;
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 1024px;
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-max: 1023px;

// Theme Colors
$primary-color: #222;
$seconday-color: #4b5056e0;
$terciary-color: #73737381;

// Colors
$white: #fff;
$black: #222;

// Fonts
$font-size: 16px;
$line-height: 1.5;

// Shadows
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

// Animation
$animation-duration: 0.3s;
