@import "../../../styles/variables.scss";

@import "../../../styles/animations.scss";

.vehicle-card {
    animation: fade-in 1s ease-in-out forwards;
    display: flex;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: #{$breakpoint-tablet-min}) {
        flex-direction: column;
    }

    @media screen and (min-width: #{$breakpoint-tablet-min}) {
        flex-direction: column;
    }

    &:not(.loading) {
        cursor: pointer;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
        transform: scale(1.1);
        transition: transform 0.3s ease;
        z-index: 99;
        border: none;
        background-color: $white;
    }

    &__btn {
        background-color: $blue;
        border: 1px solid $terciary-color;
        color: $white;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 8px;
    }
}
