@import "../../styles/variables.scss";

.vehicle-details-dialog {
    &__header {
        display: flex;

        @media screen and (min-width: #{$breakpoint-tablet-min}) {
            flex-flow: column;
        }

        align-items: center;
        padding: 20px;
    }

    &__header-info {
        margin-left: 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    &__subtitle {
        font-size: 18px;
        margin: 10px 0;
    }
}
